<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project: Travel webpage</title>
        <style>
            body {
                color:white;
                background-color: rgb(24, 242, 238);
            }
            h1 {
                color:white;
                background-color:rgb(24, 242, 238);
            }
            #countries {
                color:white;
                background-color:rgb(24, 242, 238);
            }
            ul {
                color:white;
                background-color:rgb(24, 242, 238);
            }
            
            
        </style>
    </head>
    <body>
        
        <h1>Travel to ....</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzx5zKW5k79W7Jc1wHqNusZeNz1Z5OQwLYMQ&usqp=CAU" alt="travelling" width="200">
        <h2 id="countries">List of Countries</h2>
        <ul>
            <li>Spain</li>
            <li>Italy</li>
            <li>France</li>
            <li>England</li>
            <li>Netherland</li>
            <li>Sweden</li>
            <li>Czech</li>
        </ul>
        <p>
            Wake up to the sun shining on the horizon and start your day<br> with your favorite travel agency, getting you to the <br>destination you desire. Contact us at ...
        </p>
    </body>
</html>
